* {
    padding: 0;
    margin: 0;
    border: 0 transparent transparent;
    box-sizing: border-box;
    color: #0f0f0f
}
html, body, .toor {
    width: 100%;
    height: 100%;
}
body {
    background: rgb(3,190,210);
    background: linear-gradient(120deg, rgba(3,190,210,1) 48%, rgba(210,225,84,1) 100%);  
}
div.main-container {
    width: inherit;
    height: inherit;
    display:  grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
div.chars-container {
    grid-row: 2/5;
    grid-column: 2/6;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 16px;
    border-radius: 5px 5px 3px 3px;
    box-shadow: 0 1px 2px rgba(25,25,25,0.2);
}
div.chars-container > p {
    align-self:  center;
    color: #00adbf;
    font-size: calc(1.9vw + 1.9vh);
    text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Cochin, Georgia, Times, 'Times New Roman', serif;
}
div.chars-container > div.chars-space {
    display: flex;
    flex: 1;
}
div.chars-space div.char-lsit,  div.chars-space div.char-display {
    width: calc(100% * (1 / 2));
}
/* div.char-lsit > input {
    margin-top: 3vh;
} */
@media only screen and  (max-width: 600px) {
    div.chars-container div.chars-space {
        flex-direction: column;
    }
    div.chars-space div.char-lsit,  div.chars-space div.char-display {
        height: calc(100% * (1 / 2));
        width: auto;
    }
}